<div class = "container jumbotron text-center ">
<h1>All Posts</h1>
<ul class= "list-group list-unstyled">
<% @posts.each do |post| %>
<li class= "list-group-item"><%= link_to post.title, post, class: 'post_title' %><li>
<% if user_signed_in? %>
<p><%= current_user.name %></p>
<%=button_to "Delete Post", post, method: :delete, data: {confirm: "Are you sure you want to delete the post?"}, class: 'btn btn-danger mb-3' %>
<% end %>
<% end %>
</ul>
<%= link_to "Create a New article", new_post_path, class: 'btn btn-primary mt-2' %>
</div>