<div class = "container jumbotron text-center ">
  <div class="card">
    <div class="card-header">
      <p class= "font-weight-bold text-muted">All Posts</p>
    </div>
   <div class="card-body"> 
    <% @posts.each do |post| %> 
      <p class= "font-weight-bold">
        <%= post.title %>
      </p> 
      <p class= "text-muted">
        <%= post.body %>
      </p> 
      <% if current_user %> 
        <p><strong>Created by:</strong> <%= post.user.name %></p> 
      <% end %> 
      <hr> 
    <% end %> 
  </div>
  <% if current_user %> 
    <div><%= link_to 'Create a post', new_post_path, class: "mb-3 btn btn-primary" %> </div> 
  <% end %>

</div>
  